.hide {
    display: none !important;
}

.gomb {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 75%;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    outline: lightblue;
}

.gombk {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}